body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.map-overlay {
font-family: 'Montserrat', sans-serif;
/*font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
position: absolute;
width: 40%;
top: 0;
left: 0;
padding: 10px;
}

.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}

.map-overlay h2 {
line-height: 24px;
display: block;
margin: 0 0 10px;
}
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Montserrat Neue',sans-serif;
}

const map = new mapboxgl.Map{
  container: 'map', // container id
  style: 'mapbox://styles/iamwfx/cl8tluyqd001a14nzpd565em7', // replace this with your style URL,
  center: [-73.935242, 40.730610], // The convention for coordinates is  typically [long, lat]
  zoom: 12 // The zoom level can be any decimal number
}